// #############################################################################
// BUTTONS

// all styles related to the button system should be declared within this file
// apply the "sites/" nesting described within the documentation if the file is
// getting to large

@import "../settings/colors";

.btn-blue {
  background: $blue-color;
  color: $white;
}
.btn-share {
  width: 100px;
  height: 40px;
  @include azoBold();
  font-size: 1.2em;
  padding: 0;
  letter-spacing: 1.5px;
  text-align: left;
  line-height: 42px;
  img {
    position: relative;
    top: -2px;
    right: -6px;
  }
}