/* ==========================================================================
   site wide color's
   ========================================================================== */
$white: #ffffff;
$black: #000000;

$darkgray: #485157;
$lightgray: #57574F;
$lightergray: #ababab;
$lightestgray: #a5a5a5;
$bzred: #dc143c;

$brand-primary: $bzred;
