<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Synoptic One</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/libs/tether/tether.min.css">
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/html/page2.html">Page2</a></li>
    </ul>

    <div class="container">
        <h1>Welcome to Page 2 {{name}}</h1>
        <p>{{content}}</p>
    </div>

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/tether/tether.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/bootstrap/bootstrap.min.js"></script>
</body>
</html>